.btn-green{
    background-color:#00e676 !important
    }
    .circle{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: block;
        text-align: center;
        margin: auto;
    }